@import "tailwindcss";
@import "./tokens.css";

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}


@theme inline {
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-bg-tertiary: var(--color-bg-tertiary);
  --color-surface: var(--color-surface);
  --color-border: var(--color-border);
  --color-border-subtle: var(--color-border-subtle);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-tertiary: var(--color-text-tertiary);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-accent-subtle: var(--color-accent-subtle);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
  --color-unread: var(--color-unread-indicator);

  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
}

@theme {
  --font-sans: 'Manrope', system-ui, -apple-system, sans-serif;
  --font-serif: 'Georgia', 'Charter', serif;
  --font-mono: 'JetBrains Mono', monospace;

  --text-xs: 0.6875rem;
  --text-xs--line-height: 1.45;
  --text-sm: 0.8125rem;
  --text-sm--line-height: 1.45;
  --text-base: 1rem;
  --text-base--line-height: 1.55;
  --text-lg: 1.25rem;
  --text-lg--line-height: 1.4;
  --text-xl: 1.5625rem;
  --text-xl--line-height: 1.3;
  --text-2xl: 1.9375rem;
  --text-2xl--line-height: 1.25;
  --text-3xl: 2.4375rem;
  --text-3xl--line-height: 1.2;

  --font-weight-regular: var(--font-regular);
  --font-weight-medium: var(--font-medium);
  --font-weight-semibold: var(--font-semibold);
  --font-weight-bold: var(--font-bold);

  --spacing: 0.25rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-full: 9999rem;

  --spacing-sidebar: 16.25rem;
  --container-content: 45rem;
  --container-feed: 60rem;
  --container-page: 80rem;
}

@layer base{
  body{
    min-height: 100vh;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
    line-height: normal;
  }

  header{
    @apply px-5 py-3 flex items-center lg:justify-between border-b border-b-border;
  }

  button{
    cursor: pointer;
  }

  button:focus-visible{
    outline: 1px solid var(--color-accent);
    outline-offset: 1px;
  }

  aside{
    background-color: var(--color-bg-primary);
    width: var(--spacing-sidebar);
    padding: 1rem;
    border-right: 1px solid var(--color-border);
    flex-shrink: 0;
  }

  main{
    background-color: var(--color-accent-subtle);
    flex-grow: 1;
  }

  article{
    @apply border border-border-subtle shadow-sm rounded-lg bg-bg-primary flex flex-col relative;
  }

  select, ::picker(select) {
    appearance: base-select;
  }

  ::picker-icon{
    display: none;
  }

  select{
    @apply bg-bg-primary text-text-primary p-2 pl-8 rounded-md border-2 border-border font-medium cursor-pointer focus-visible:outline-accent text-sm;
  }

  ::picker(select){
    margin-top: 0.25rem;
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
    padding: 0.25rem 0.5rem;
    width: 10rem;
    background-color: var(--color-bg-primary);
  }

  option{
    font-weight: normal;
    padding: 0.375rem;
    padding-left: 0.5rem;
    margin-block: 2px;
    border-radius: var(--radius-md);
    color: var(--color-text-primary);

    &:hover{
      background-color: var(--color-bg-secondary)
    }
  }

  option::checkmark{
    display: none;
  }

  option:checked{
    background-color: var(--color-accent-subtle);
    color: var(--color-accent);
  }
}

@layer components{
  .wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .search-icon{
    position: absolute;
    left: 0.5rem;
    color: var(--color-text-tertiary);
  }

  .search-input{
    border: 1px solid var(--color-border-subtle);
    padding: 0.5rem;
    padding-left: 1.75rem;
    color: var(--color-text-primary);
    background-color: var(--color-bg-secondary);
    font-size: var(--text-sm);
    border-radius: var(--radius-md);

    &:hover{
      border-color: var(--color-border);
    }

    &:focus-visible{
      outline: 1px solid var(--color-text-secondary);
    }
  }

  .add-btn{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: 500;
    background-color: var(--color-accent);
    color: var(--color-accent-subtle);
    font-size: var(--text-sm);
    border-radius: var(--radius-md);
    transition: background-color 0.3s ease;

    &:hover{
      background-color: var(--color-accent-hover);
    }
  }

  .user-btn{
    font-size: var(--text-xs);
    background-color: var(--color-accent-subtle);
    color: var(--color-accent);
    font-weight: 500;
    border-radius: var(--radius-full);
    height: 40px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;

    &:hover{
      color: var(--color-accent-hover);
    }
  }

  .main-wrapper{
    flex-grow: 1;
    display: flex;
  }

  .bookmarks-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }

  .tags{
    @apply text-xs py-0.5 px-2 rounded-sm bg-accent-subtle text-accent;
  }

  .logo-wrapper {
    border: 1px solid var(--color-border-subtle);
    border-radius: var(--radius-md);
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 50px;
    flex-shrink: 0;
  }

  .fallback {
    background-color: var(--color-accent-subtle);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .fallback p {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-accent)
  }

  .icon {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  /* Bookmark Form */

  .form-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
    padding: 2rem;
    background-color: var(--color-bg-primary);
    width: 90%;
    max-width: 400px;
  }

  .bookmark-form{
    display: flex;
    flex-direction: column;
  }

  .form-label{
    display: flex;
    flex-direction: column;
    padding-inline: 0.25rem;
    font-size: 13px;
  }

  .form-input{
    border: 1px solid var(--color-border-subtle);
    padding: 0.75rem 1rem;
    border-radius: var(--radius-md);

    &:hover{
      border-color: var(--color-border);
    }

    &:focus-visible{
      outline: 1px solid var(--color-text-secondary);
    }
  }

  .form-input.error{
    border-color: var(--color-error);
  }

  .btn{
    width: fit-content;
    padding: 0.675rem 1.25rem;
    font-size: 14px;
    font-weight: 500;
    border-radius: var(--radius-md);

    &:focus-visible{
      outline: 1px solid var(--color-accent);
    }
  }

  .submit-btn{
    background-color: var(--color-accent);
    color: var(--color-accent-subtle);
    transition: background-color 0.3s ease;

    &:hover{
      background-color: var(--color-accent-hover)
    }

    &:disabled{
      cursor: not-allowed;
    }
  }

  .close-btn{
    background-color: var(--color-accent-subtle);
    color: var(--color-accent);
    transition: color 0.3s ease;

    &:hover{
      color: var(--color-accent-hover);
    }

    &:disabled{
      cursor: not-allowed;
    }
  }

  .checkbox{
    opacity: 0;
    position: absolute;
    left: -1000px;
  }

  .checkbox-label{
    font-size: var(--text-sm);
    color: var(--color-text-secondary);
    display: flex;
    align-items: end;
    gap: 0.75rem;
    cursor: pointer;
  }

  .checkbox-label::before{
    content: '';
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--color-accent-subtle);
    border-radius: var(--radius-sm);
  }

  .checkbox-label:has(.checkbox:checked)::before{
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZWNrLWljb24gbHVjaWRlLWNoZWNrIj48cGF0aCBkPSJNMjAgNiA5IDE3bC01LTUiLz48L3N2Zz4=), var(--color-accent);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center center;
  }

  .checkbox-label:has(.checkbox:focus-visible)::before{
    border: 1px solid var(--color-accent);
  }

  .count{
    font-size: var(--text-xs);
    margin-left: auto;
    width: 20px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent-subtle);
    border-radius: 50%;
  }

  .article-footer{
    margin-top: auto;
    font-size: var(--text-xs);
    padding: 0.875rem 1rem;
    border-top: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text-secondary);
  }

  .article-footer .stat{
    display: flex;
    align-items: center;
    gap: 0.325rem;
  }

  .modify-btn{
    margin-left: auto;
    padding: 0.25rem;
    align-self: flex-start;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
  }

  .options{
    position: absolute;
    right: 1rem;
    top: 3rem;
    font-size: var(--text-xs);
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid var(--color-border-subtle);
    border-radius: var(--radius-md);
    background-color: var(--color-bg-primary);

    &:hover{
      border: 1px solid var(--color-border);
    }
  }

  .edit-btn, .delete-btn, .copy-btn, .visit-btn{
    color: var(--color-text-secondary);
    width: 100%;
    border-radius: var(--radius-sm);
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .edit-btn, .copy-btn, .visit-btn{
    color: var(--color-text-primary);
    padding: 0.35rem;
    padding-inline: 0.5rem 2rem;

    &:hover{
      color: var(--color-accent);
      background-color: var(--color-accent-subtle);
    }
  }

  .copy-btn{
    padding-right: 0;
    width: 100%;
  }

  .delete-btn{
    color: var(--color-error);
    padding-inline: 0.5rem 2rem;
    padding-block: 0.375rem; 

    &:hover{
      background-color: #dc262620;
    }

    &:focus-visible{
      outline-color: var(--color-error);
    }
  }

  .delete-dialog-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 10;
  }
  
  .dialog-container{
    width: 20rem;
    background-color: var(--color-bg-primary);
    padding-top: 1rem;
    border-radius: var(--radius-lg);
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: hidden;
  }

  .trash{
    padding: 0.5rem;
    border-radius: var(--radius-md);
    background-color: #dc262620;
    color: var(--color-error);
  }

  .btn-container{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--color-bg-secondary);
    border-top: 1px solid var(--color-border-subtle);
  }

  .btn-container button{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-md);
    font-size: var(--text-sm);
    font-weight: 600;
  }

  .delete{
    color: var(--color-error);
    background-color: #dc262620;
    transition: background-color 0.3s ease;

    &:hover{
      background-color: #dc262630;
    }

    &:focus-visible{
      outline: 1px solid var(--color-error);
    }
  }

  .cancel{
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border-subtle);

    transition: background-color 0.3s ease;

    &:hover{
      background-color: var(--color-bg-secondary);
    }
  }

  .pinned{
    color: var(--color-accent);
    fill: var(--color-accent);
  }

  .sort-label{
    display: flex;
    margin-left: auto;
    position: relative;
  }

  .arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.675rem;
    pointer-events: none;
  }

  .user-dropdown{
    position: absolute;
    right: 1.5rem;
    top: 3.5rem;
    z-index: 5;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    padding: 0.75rem 1rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
  }
}